@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Yellowtail&display=swap');

.navbar-font {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
}

.menu-font {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.2rem;
}